/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  
  
  /* Gender catalogs section styles */
  .catalogs {
    padding: 40px 0;
    text-align: center;
  }
  
  .catalogs h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .catalog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .catalog-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    max-width: 300px;
    width: 100%;
  }
  
  .catalog-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .catalog-card img {  
    width: 100%;
    margin-bottom: 20px;
  }
  
  .catalog-info {
    text-align: center;
  }
  
  .catalog-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .view-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .view-button:hover {
    background-color: #555;
  }/* Styles for the home button */
  .top-nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.top-nav a:last-child {
    margin-right: 0;
}


  
  /* Footer styles */
 